@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --foreground: #fafafa;
}

header,
section {
  padding: 0px;
  margin: 0px;
  border: none;
}
:root {
  /* Your default theme */
  --background: #fafafa;
  --foreground: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
